<mat-card>
  <mat-card-title>Admission</mat-card-title>
  <mat-card-subtitle>Add a new student</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Name"
          formControlName="name"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Father's Name"
          formControlName="fathername"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Mother's Name"
          formControlName="mothername"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="date"
          placeholder="Date of Birth"
          formControlName="dob"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Class</mat-label>
        <mat-select formControlName="class" required>
          <mat-option *ngFor="let class of classes" [value]="class.value">
            {{ class.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Section</mat-label>
        <mat-select required formControlName="section">
          <mat-option *ngFor="let section of sections" [value]="section.value">
            {{ section.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Contact No."
          formControlName="contactNo"
          required
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          type="text"
          placeholder="Address"
          formControlName="address"
          required
        ></textarea>
      </mat-form-field>
      <br />
      <button
        class="mr"
        mat-raised-button
        color="primary"
        [disabled]="!studentForm.valid"
        type="submit"
      >
        Add
      </button>
      <button mat-raised-button>Cancel</button>
    </form>
  </mat-card-content>
</mat-card>
