<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Timetable</h4>
    <p class="card-category">Timetable for class</p>
  </div>
  <div class="card-body">
    <div class="table-responsive table-full-width">
      <table class="table table-striped">
        <thead class="text-primary text-center">
          <th>Period</th>
          <th>Subject</th>
          <th>Teacher</th>
          <th>Time Interval</th>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Science</td>
            <td>Rahul Singh</td>
            <td>12:40 AM to 01:10 PM</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Science</td>
            <td>Rahul Singh</td>
            <td>12:40 AM to 01:10 PM</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Science</td>
            <td>Rahul Singh</td>
            <td>12:40 AM to 01:10 PM</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Science</td>
            <td>Rahul Singh</td>
            <td>12:40 AM to 01:10 PM</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
