<mat-card>
  <mat-card-title>Holidays</mat-card-title>
  <table mat-table [dataSource]="holidays$">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Holiday</th>
      <td mat-cell *matCellDef="let holiday">{{ holiday.name }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let holiday">{{ holiday.date }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let holiday">{{ holiday.type }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let holiday">{{ holiday.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let holiday">
        <button
          mat-icon-button
          matTooltip="Edit"
          matTooltipPosition="before"
          (click)="editHoliday(holiday.id)"
        >
          <mat-icon color="primary">edit</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Delete"
          matTooltipPosition="after"
          (click)="deleteHoliday(holiday.id)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</mat-card>
