<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Timetable Options</h4>
  </div>
  <div class="container form-inline">
    <div class="form-group">
      <label for="" class="mx-2">Class</label>
      <select class="custom-select">
        <option>--class--</option>
        <option *ngFor="let class of classes" [value]="class.value">
          {{ class.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="" class="mx-2">Section</label>
      <select class="custom-select">
        <option>--section--</option>
        <option *ngFor="let section of sections" [value]="section.value">
          {{ section.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="" class="mx-2">Date</label>
      <input type="date" class="form-control" />
    </div>

    <button class="btn btn-primary ml-2">GO</button>
  </div>
</div>
