.mat-list-item:hover {
  background-color: #607d8b;
  color: #fff;
}
.mat-list-item:focus {
  background-color: #607d8b;
  color: #fff;
}

.router-link-active {
  background-color: #334d5b;
  color: #fff;
}