<mat-card>
  <mat-card-title>Notices</mat-card-title>
  <table mat-table [dataSource]="notices$">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let notice">{{ notice.title }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let notice">{{ notice.description }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let notice">
        <button
          mat-icon-button
          matTooltip="Edit"
          matTooltipPosition="before"
          (click)="editNotice(notice.id)"
        >
          <mat-icon color="primary">edit</mat-icon>
        </button>

        <button
          mat-icon-button
          matTooltip="Delete"
          matTooltipPosition="after"
          (click)="deleteNotice(notice.id)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</mat-card>
