<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">All Notices</h4>
    <p class="card-category">
      List of Notices
    </p>
  </div>
  <div class="card-body table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>Date</th>
        <th>Notice</th>
      </thead>
      <tbody>
        <tr>
          <td>2 Jun 2019</td>
          <td>
            Title of the Notice
          </td>
        </tr>
        <tr>
          <td>2 Jun 2019</td>
          <td>
            Title of the Notice
          </td>
        </tr>
        <tr>
          <td>2 Jun 2019</td>
          <td>
            Title of the Notice
          </td>
        </tr>
        <tr>
          <td>2 Jun 2019</td>
          <td>
            Title of the Notice
          </td>
        </tr>
        <tr>
          <td>2 Jun 2019</td>
          <td>
            Title of the Notice
          </td>
        </tr>
        <tr>
          <td>2 Jun 2019</td>
          <td>
            Title of the Notice
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
